@media(max-width: 768px){
    .search-nav form input{
        width: 100%;
        margin: 0;
    }

    .container-narrow{
        width: 100%;
        margin: -50px auto;
        padding: 20px;
    }
/* 
    .container-narrow form h1{
        margin-bottom: 20px;
    }
    .container-narrow form .form-group{
        margin-bottom: 20px;
    } */
}

